### Analyse Transaction by SA2
1. Merge SA2 to transaction by postcode
2. Check how many unique SA2
3. Check for null SA2 values
4. Per SA2 aggregate: total_population, median age, the transaction average dollar amount (AOV), transaction frequency, and the number of unique customers, use BPNL % (num_unique_cust/total_population), use BPNL by the mode age group % (num_unique_cust/total_population_age_group)
5. groupby month/weeknum over transaction freq/gmv/profit, visualize

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Start Spark Session
from pyspark.sql import SparkSession
spark = (
    SparkSession.builder.appName("MAST30034 Project 2 BNPL")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "4g")
    .config("spark.executor.memory", "8g")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/06 00:01:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# load BNPL dataset
consumer = spark.read.csv("../data/tables/tbl_consumer.csv", header=True, sep="|")
details = spark.read.parquet("../data/tables/consumer_user_details.parquet")
merchants = spark.read.parquet("../data/tables/tbl_merchants.parquet")

In [28]:
# load all transactions datasets
paths=['../data/tables/transactions_20210228_20210827_snapshot',
       '../data/tables/transactions_20210828_20220227_snapshot']

first = 1
for path in paths:
    if first:
        transactions = spark.read.parquet(path)
        print(f'added {path.split("/")[3]}')
        first = 0
    else:
        append_transactions = spark.read.parquet(path)
        transactions = transaction.union(append_transactions)
        print(f'added {path.split("/")[3]}')

added transactions_20210228_20210827_snapshot
added transactions_20210828_20220227_snapshot

In [40]:
# load poa_to_sa2 dataset
poa_to_sa2 = spark.read.csv("../data/curated/poa_w_sa2.csv", header=True)

In [30]:
transactions.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- merchant_abn: long (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)

In [31]:
transaction.agg({'order_datetime': 'max'}).show()
transaction.agg({'order_datetime': 'min'}).show()

+-------------------+
|max(order_datetime)|
+-------------------+
|         2022-02-27|
+-------------------+

+-------------------+
|min(order_datetime)|
+-------------------+
|         2021-02-28|
+-------------------+

In [55]:
# rename columns
merchants = merchants.withColumnRenamed('name', 'merchant_name')
consumer = consumer.withColumnRenamed('name', 'consumer_name')

---
#### 1. Merge SA2 to transaction by postcode

In [56]:
# Join consumers with their respective details
consumer_detail = consumer.join(details, on="consumer_id")

# Join consumers with their respective transactions
consumer_trx = consumer_detail.join(transactions, on="user_id")

# Join transactions with the respective merchants
df_trx = consumer_trx.join(merchants, on="merchant_abn")

In [57]:
df_trx.show(5, vertical=True)

-RECORD 0------------------------------
 merchant_abn   | 33064796871
 user_id        | 7
 consumer_id    | 511685
 consumer_name  | Andrea Jones
 address        | 122 Brandon Cliff
 state          | QLD
 postcode       | 4606
 gender         | Female
 dollar_value   | 373.0873675184212
 order_id       | fe188788-b89f-4dd...
 order_datetime | 2021-08-20
 merchant_name  | Curabitur Massa C...
 tags           | ((computer progra...
-RECORD 1------------------------------
 merchant_abn   | 68435002949
 user_id        | 7
 consumer_id    | 511685
 consumer_name  | Andrea Jones
 address        | 122 Brandon Cliff
 state          | QLD
 postcode       | 4606
 gender         | Female
 dollar_value   | 232.5364986739752
 order_id       | b4a89891-a113-45e...
 order_datetime | 2021-08-20
 merchant_name  | Aliquam Eu Inc.
 tags           | [(artist supply a...
-RECORD 2------------------------------
 merchant_abn   | 41944909975
 user_id        | 7
 consumer_id    | 511685
 consumer_name  | Andrea Jones
 address        | 122 Brandon Cliff
 state          | QLD
 postcode       | 4606
 gender         | Female
 dollar_value   | 30.910755230234322
 order_id       | 302ae628-8eba-4a5...
 order_datetime | 2021-08-20
 merchant_name  | Et Nunc Consulting
 tags           | ([books, periodic...
-RECORD 3------------------------------
 merchant_abn   | 21439773999
 user_id        | 7
 consumer_id    | 511685
 consumer_name  | Andrea Jones
 address        | 122 Brandon Cliff
 state          | QLD
 postcode       | 4606
 gender         | Female
 dollar_value   | 91.18655746114226
 order_id       | 4524fdc9-73f0-477...
 order_datetime | 2021-08-21
 merchant_name  | Mauris Non Institute
 tags           | ([cable, satellit...
-RECORD 4------------------------------
 merchant_abn   | 86662713230
 user_id        | 7
 consumer_id    | 511685
 consumer_name  | Andrea Jones
 address        | 122 Brandon Cliff
 state          | QLD
 postcode       | 4606
 gender         | Female
 dollar_value   | 38.8137172956379
 order_id       | 28f9e0f3-858d-445...
 order_datetime | 2021-08-19
 merchant_name  | Vestibulum Accums...
 tags           | [[watch, clock, a...
only showing top 5 rows

In [58]:
df_trx.printSchema()

root
 |-- merchant_abn: long (nullable = true)
 |-- user_id: long (nullable = true)
 |-- consumer_id: string (nullable = true)
 |-- consumer_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)
 |-- merchant_name: string (nullable = true)
 |-- tags: string (nullable = true)

In [59]:
poa_to_sa2.show(5, vertical=True)

-RECORD 0---------------------------------
 poa_code_2016     | 800
 poa_name_2016     | 0800
 sa2_maincode_2016 | 701011002.0
 sa2_name_2016     | Darwin City
 geometry          | POLYGON ((130.834...
-RECORD 1---------------------------------
 poa_code_2016     | 810
 poa_name_2016     | 0810
 sa2_maincode_2016 | 701021013.0
 sa2_name_2016     | Brinkin - Nakara
 geometry          | POLYGON ((130.863...
-RECORD 2---------------------------------
 poa_code_2016     | 812
 poa_name_2016     | 0812
 sa2_maincode_2016 | 701021014.0
 sa2_name_2016     | Buffalo Creek
 geometry          | POLYGON ((130.901...
-RECORD 3---------------------------------
 poa_code_2016     | 815
 poa_name_2016     | 0815
 sa2_maincode_2016 | 701021013.0
 sa2_name_2016     | Brinkin - Nakara
 geometry          | POLYGON ((130.863...
-RECORD 4---------------------------------
 poa_code_2016     | 820
 poa_name_2016     | 0820
 sa2_maincode_2016 | 701011006.0
 sa2_name_2016     | Ludmilla - The Na...
 geometry          | POLYGON ((130.844...
only showing top 5 rows

In [60]:
# translate postcodes in transaction to sa2 codes
sa2_cols = ['poa_name_2016', 'sa2_maincode_2016', 'sa2_name_2016', 'geometry']
df_trx_sa2 = (df_trx \
                .join(poa_to_sa2[sa2_cols], 
                     on=[df_trx['postcode'] == poa_to_sa2['poa_name_2016']],
                     how='inner')
                .drop('poa_name_2016')
             )

---
#### 2. Check how many unique SA2

In [61]:
df_trx_sa2.select('sa2_maincode_2016').distinct().count()

1314

In [53]:
df_trx_sa2.printSchema()

root
 |-- merchant_abn: long (nullable = true)
 |-- user_id: long (nullable = true)
 |-- consumer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)
 |-- name: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- sa2_maincode_2016: string (nullable = true)
 |-- sa2_name_2016: string (nullable = true)
 |-- geometry: string (nullable = true)

---
#### 3. Check for null in SA2 values

In [62]:
dict_null = {col:df_trx_sa2.filter(df_trx_sa2[col].isNull()).count() 
             for col in df_trx_sa2.columns}
dict_null

{'merchant_abn': 0,
 'user_id': 0,
 'consumer_id': 0,
 'consumer_name': 0,
 'address': 0,
 'state': 0,
 'postcode': 0,
 'gender': 0,
 'dollar_value': 0,
 'order_id': 0,
 'order_datetime': 0,
 'merchant_name': 0,
 'tags': 0,
 'sa2_maincode_2016': 0,
 'sa2_name_2016': 0,
 'geometry': 18744}